<div class="admin__field input_name _required"
     data-bind="css: $data.additionalClasses, attr: {'data-index': index}, visible: visible">
    <div class="admin__field-label" data-bind="visible: $data.labelVisible">
        <!-- ko if: $data.label -->
        <label data-bind="attr: {for: uid}">
            <span data-bind="attr: {'data-config-scope': $data.scopeLabel}, i18n: label"></span>
        </label>
        <!-- /ko -->
    </div>


    <div class="admin__field-control" data-bind="css: {'_with-tooltip': $data.tooltip, '_with-reset': $data.showFallbackReset && $data.isDifferedFromDefault}">
        <div id="editor_template_pdf_html" class="admin__control-wysiwig hor-scroll">
            <!-- ko ifnot: hasAddons() -->
            <!-- ko template: elementTmpl --><!-- /ko -->
            <!-- /ko -->

            <!-- ko if: hasAddons() --><!-- /ko -->

            <!-- ko if: $data.tooltip --><!-- /ko -->

            <!-- ko if: $data.showFallbackReset && $data.isDifferedFromDefault --><!-- /ko -->

            <!-- ko if: error --><!-- /ko -->

            <!-- ko if: $data.notice --><!-- /ko -->

            <!-- ko if: $data.hotelDetails -->
            <style>
                table.table {
                    width: 100%;
                }
                .success {
                    width: 30%;
                    background-color: #dff0d8;
                }
                td {
                    padding: 8px;
                    line-height: 1.42857143;
                    vertical-align: top;
                    border-top: 1px solid #ddd;
                }
                th {
                    text-align: left;
                }
            </style>
            <table class="table">
                <tbody>
                <tr>
                    <td class="success">Room Quality: </td>
                    <td data-bind="text: $data.hotelDetails().quality"></td>
                </tr>
                <tr>
                    <td class="success">Description: </td>
                    <td data-bind="text: $data.hotelDetails().desc"></td>
                </tr>
                <tr>
                    <td class="success">Quantity: </td>
                    <td data-bind="text: $data.hotelDetails().qty"></td>
                </tr>
                <tr>
                    <td class="success">Equipments: </td>
                    <td>
                        <table width="100%">
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                            </tr>
                            <!-- ko foreach: $data.hotelDetails().equips -->
                            <tr>
                                <td data-bind="text: name"></td>
                                <td data-bind="text: qty"></td>
                            </tr>
                            <!-- /ko -->
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- /ko -->

            <!-- ko if: $data.additionalInfo --><!-- /ko -->

            <!-- ko if: $data.hasService() --><!-- /ko -->
        </div>
    </div>
</div>
