<?php
/** @var $block \Hust\HotelBooking\Block\Product\RoomInfo */
// @codingStandardsIgnoreFile

?>

<?php if ($block->isHotelProduct() == true) : ?>

    <?php
    $roomType = $block->getRoomTypeDetails();
    $roomProduct = $block->getRoomProductDetails();
    $freeService = $block->getFreeServiceDetails();

    ?>

    <div class="ticket-options">
        <div class="ticket-options-wrapper" id="ticket-options-wrapper" data-hasrequired="* Required Fields" data-bind="scope: 'hotel-room-type-selector'">
            <div style="position: relative; margin: -30px 0 50px;">
                <span class="ticket-options-event-count"></span>
                <div class="ticket-option-scroll">
                    <div class="actions">
                        <span class="scroll-up"><span class="action" style="display:none;"></span></span>
                        <span class="scroll-down"><span class="action" style="display:none;"></span></span>
                    </div>
                </div>
                <div class="fieldset_session-container">
                    <div class="fieldset_session" id="fieldset_session" tabindex="0">
                        <div class="ticket-option-box session_expired">
                            <label class="ticket_select_session">
                                <input type="checkbox" id="session_<?= @$roomType['id'] ?>" aria-required="true" required=""
                                       class="radio-custom ticket_select_session_select"
                                       checked
                                       value="<?= @$roomType['id'] ?>"
                                       name="room-type-selection">
                                <span class="for-radio-custom"></span>
                                <span class="for-radio-custom-text"><?= @$roomType['name'] ?></span>
                            </label>
                            <div class="price-box price-final_price for-option">
                                <span class="option-discount-value passive"></span>
                                <span class="old-price">
                                    <span class="price-container price-final_price tax">
                                        <span class="price-wrapper">
                                            <span class="price">$32.00</span>
                                        </span>
                                    </span>
                                </span>
                                <span class="special-price">
                                    <span class="price-container price-final_price tax">
                                        <span class="price-wrapper">
                                            <span class="price" id="session_price_<?= @$roomType['room_type'] ?>" name="0.0000">$23.00</span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <span class="option-bought-value">
                                <span class="count-bought as">
                                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 13.093">
                                       <g transform="translate(-1070 -4880)">
                                           <rect width="1.775" height="1.775" transform="translate(1074.128 4891.317)"></rect>
                                           <rect width="1.775" height="1.775" transform="translate(1081.118 4891.317)"></rect>
                                           <path d="M9.964,2.419V4.194h3.329l-1.576,3.6H5.437l-.954-3.6H8.189V2.419H4.017L3.373,0H0V1.775H2.019L4.083,9.564h8.788L16,2.419Z" transform="translate(1070 4880)"></path>
                                           <rect width="1.775" height="1.775" transform="translate(1079.954 4882.43) rotate(180)"></rect>
                                       </g>
                                   </svg>13<span>&nbsp;bought</span>
                               </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="fieldset_session-info room-type-<?= @$roomType['id'] ?>" data-room-type="<?= @$roomType['id'] ?>">
                    <p><strong class="room-type-detail"><?= __("Room Type") ?></strong>&nbsp;&blacktriangleright;&nbsp;<?= @$roomType['name'] ?></p>
                    <div><strong class="room-type-detail"><?= __("Room Quality") ?></strong>&nbsp;&blacktriangleright;&nbsp;
                        <?php
                            if(@$roomType['quality'] == '1 Sao') {$rating = '20%'; }
                            if(@$roomType['quality'] == '2 Sao') {$rating = '40%'; }
                            if(@$roomType['quality'] == '3 Sao') {$rating = '60%'; }
                            if(@$roomType['quality'] == '4 Sao') {$rating = '80%'; }
                            if(@$roomType['quality'] == '5 Sao') {$rating = '100%'; }
                        ?>
                        <div style="display: inline-block" class="product-reviews-summary" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                            <div class="rating-summary" style="display: inline-block">
                                <span class="label"><span>Rating:</span></span>
                                <div class="rating-result" title="<?= $rating; ?>" style="display: inline-block">
                                    <span style="width:<?= $rating; ?>">
                                        <span>
                                            <span itemprop="ratingValue"><?= $rating; ?></span> of <span itemprop="bestRating">100</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p><strong class="room-type-detail"><?= __("Room Size (square meters)") ?></strong>&nbsp;&blacktriangleright;&nbsp;<?= @$roomType['room_size'] ?></p>
                    <?php if ($roomType['equips']) { ?>
                    <p><strong class="room-type-detail"><?= __("Room Equipments") ?></strong>&nbsp;&blacktriangleright;&nbsp;
                        <ul>
                        <?php
                        foreach (@$roomType['equips'] as $equip) {
                            echo '<li>' . $equip['qty'] .' ' .$equip['name']. '</li>';
                        }
                        ?>
                        </ul>
                    </p>
                    <?php }?>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
