<script>
    require(["jquery"], function ($) {
        $(function () {
            $("h1.page-title").append("<span style='color: #B0B9C2'>(<?php echo $block->getText(); ?>)</span>");
        });
    });
</script>